<h1><%= title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @command %>
</pre>

<table class="table table-bordered">
  <tr>
    <td style="font-weight: bold;">Filesystem</td>
    <td style="font-weight: bold;">Usage</td>
    <td style="font-weight: bold;">Limit</td>
    <td style="font-weight: bold;">Status</td>
  </tr>
  <% @quotas.each do |quota| %>
  <tr>
    <td><%= quota.homedir %></td>
    <td><%= quota.home_usage %></td>
    <td><%= quota.home_limit %></td>
    <td><%= quota.home_status %></td>
  </tr>
  <tr>
    <td><%= quota.hpctmpdir %></td>
    <td><%= quota.hpctmp_usage %></td>
    <td><%= quota.hpctmp_limit %></td>
    <td><%= quota.hpctmp_status %></td>
  </tr>
  <% end %>
</table>
